body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

#nam {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 120px;
}

.half {
    width: 50%;
    padding-left: 5%;
}

.half img {
    width: 80%;
}

#intro {
    text-align: justify;
    font-weight: 500;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(103, 103, 202), rgb(83, 186, 255));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half2 {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.half2 img {
    width: 120%;
    border-radius: 5%;


}

#intro2 {
    text-align: justify;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}